{% extends "base.html" %}

{% block title %}Usuários{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center mt-5">
        <h1 class="mb-4">Todos os usuários ligados à minha conta {{ request.user.email }}</h1>
        <ul class="list-group w-75">
            {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ user.email }} - <span id="status-{{ user.id }}">{{ user.is_active|yesno:"Ativo,Inativo" }}</span>
                    </div>
                    <button class="btn btn-dark toggle-button" data-user-id="{{ user.id }}">
                        {% if user.is_active %}Desativar{% else %}Ativar{% endif %}
                    </button>
                </li>
            {% empty %}
                <li class="list-group-item text-center">Nenhum usuário para esta conta.</li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            console.log("jQuery is ready!");
            $('.toggle-button').click(function() {
                console.log("Button clicked!");
                var userId = $(this).data('user-id');
                var button = $(this);
                $.ajax({
                    url: `/accounts/toggle_user_status/${userId}/`,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            var statusSpan = $('#status-' + userId);
                            if (data.is_active) {
                                statusSpan.text('Ativo');
                                button.text('Desativar');
                            } else {
                                statusSpan.text('Inativo');
                                button.text('Ativar');
                            }
                        } else {
                            alert('Failed to toggle user status.');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Error occurred: ", error);
                    }
                });
            });
        });
    </script>
{% endblock %}
