{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-column align-items-center mt-5">
        <h3>Admin</h3>
        <ul class="list-group w-50">
            {% if request.user.is_authenticated %}
                <li class="list-group-item text-center">
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="document.getElementById('logout-form').submit();" class="btn btn-danger">Sair</a>
                </li>
            {% endif %}
            <li class="list-group-item text-center">
                <a href="{% url 'register_account' %}" class="btn btn-dark">Cadastrar uma Conta</a>
            </li>
            <li class="list-group-item text-center">
                <a href="{% url 'register_user' %}" class="btn btn-dark">Cadastrar um Usuário</a>
            </li>
            <li class="list-group-item text-center">
                <a href="{% url 'users_list' %}" class="btn btn-dark">Vizualizar todos os usuários</a>
            </li>
            <li class="list-group-item text-center">
                <a href="{% url 'user_planted_trees_admin' %}" class="btn btn-dark">Vizualizar todas as plantas plantadas pelo Grupo</a>
            </li>
        </ul>
    </div>
{% endblock %}
