{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-column align-items-center mt-5">
        <h3>User</h3>
        <ul class="list-group w-50">
            {% if request.user.is_authenticated %}
                <li class="list-group-item text-center">
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="document.getElementById('logout-form').submit();" class="btn btn-danger">Sair</a>
                </li>
            {% endif %}
            <li class="list-group-item text-center">
                <a href="{% url 'plant_tree' %}" class="btn btn-dark">Planta uma árvore</a>
            </li>
            <li class="list-group-item text-center">
                <a href="{% url 'user_planted_trees' %}" class="btn btn-dark">Ver todas as minhas árvores plantadas</a>
            </li>
        </ul>
    </div>
{% endblock %}
